/* DEFAULT */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d4efff;
    margin: 0px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

p,
h2,
h3,
a,
td,
label,
em,
th,
li {
    color: #3a7895;
    -webkit-tap-highlight-color: transparent
}

.main {
    margin: 0;
    padding: 0;
}

/* CORE */

nav {
    height: 40px;
    width: 600px;
    max-width: 60%;
    min-width: 250px;
    border-radius: 20px;
    border: solid;
    border-width: 1px;
    position: fixed;
    margin: 2vh auto;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

table {
    border-spacing: 5px;
    border-collapse: separate;
}

a {
    text-decoration: none;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}

footer {
    text-align: center;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    /* padding-top: 2em; */
    width: 1000px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 150%;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
}

img {
    width: 250px;
    max-width: 35%;
}

input {
    margin: .5rem auto;
}

footer {
    background-color: #80b9d4;
    margin: 0;
    padding: 100px auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer p {
    margin-bottom: 0;
}

em {
    font-weight: 400;
}

h3 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

/* CLASS */

.title {
    margin-top: 10vh;
    font-size: 250%;
    font-weight: 600;
}

.intro {
    width: 100%;
    max-width: 100%;
    background-image: url("./assets/mountains.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin: 0;
    padding-top: 30vh;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 2px;
    font-size: 130%;
}

.intro h2,
.intro em {
    color: #3a7895;
}

.description img {
    float: left;
    margin-right: 5%;
}

#projects img {
    float: right;
    margin-right: 0px;
    margin-left: 5%;
    filter: invert(38%) sepia(68%) saturate(354%) hue-rotate(154deg) brightness(97%) contrast(92%);
}

.description h3 {
    /* text-align: center; */
    margin: 0;
}

.description p {
    line-height: 1.5;
}

#about-me-icon {
    border-radius: 100%;
}

.hr_dots {
    color: rgb(188, 188, 188);
    position: relative;
    margin: 5rem auto;
    border: none;
    border-top: dotted;
    border-width: 15px;
    width: 10%;
    z-index: -1;
}

#contact {
    text-align: center;
}

/* ID */

#nav_list {
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
    line-height: 40px;
    vertical-align: middle;
}

#nav_list li {
    flex-grow: 1;
    flex-basis: 0;
    border: 0px solid transparent;
}

#nav_list li:hover, #nav_list li.active {
    border: solid;
    border-width: 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
}

#nav_list li a {
    padding: .8vh 1vw;
    /* padding is approximation */
    color: rgb(0, 0, 0);
}

#arrows-icon {
    margin-top: 10%;
    width: 40px;
    min-width: 2%;
    filter: invert(38%) sepia(68%) saturate(354%) hue-rotate(154deg) brightness(97%) contrast(92%);
    animation: 3s fadeIn;
    opacity: .7;
}

#contact h2 {
    padding-bottom: 2rem;
}

#contact {
    margin-bottom: 10rem;
    max-width: 100%;
    width: 1200px;
}

#contact button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

#contact ul {
    display: inline-block;
    margin: 2rem 0;
}

#contact img {
    width: 150px;
    max-width: 20%;
    filter: invert(38%) sepia(68%) saturate(354%) hue-rotate(154deg) brightness(97%) contrast(92%);
    padding: 0 2vw;
}

#contact img:hover {
    filter: invert(38%) sepia(68%) saturate(354%) hue-rotate(154deg) brightness(150%) contrast(92%);
}

.contact_list {
    text-align: center;
}

.contact_list li {
    break-inside: avoid;
    display: inline;
    margin: 0 2vw;
}

.contact_list img {
    width: 100px;
    max-width: 30%;
}

/* ANIMATIONS */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: .7;
    }
}

/* BREAKPOINT */

@media (max-width: 800px) {
    nav {
        display: none;
        /* removes navbar for ease of accessibility */
    }
    #contact img:hover {
        filter: invert(38%) sepia(68%) saturate(354%) hue-rotate(154deg) brightness(97%) contrast(92%);
        /* disables mobile brightness acceleration */
    }
    #contact {
        margin: 0;
        padding: 0;
        padding-bottom: 5rem;
    }

    #about {
        margin: 0 auto;
        padding: 3rem 0;
        /* reduces unnecessary margins/padding for navigation assistance */
    }
    #projects {
        margin: 0 auto;
        padding: 3rem 0;
    }
    
}


/* BUTTON PRESET */

.btn {
    background: #6aabc9;
    background-image: -webkit-linear-gradient(top, #6aabc9, #2d89b3);
    background-image: -moz-linear-gradient(top, #6aabc9, #2d89b3);
    background-image: -ms-linear-gradient(top, #6aabc9, #2d89b3);
    background-image: -o-linear-gradient(top, #6aabc9, #2d89b3);
    background-image: linear-gradient(to bottom, #6aabc9, #2d89b3);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #60a9d4;
    background-image: -webkit-linear-gradient(top, #60a9d4, #2595db);
    background-image: -moz-linear-gradient(top, #60a9d4, #2595db);
    background-image: -ms-linear-gradient(top, #60a9d4, #2595db);
    background-image: -o-linear-gradient(top, #60a9d4, #2595db);
    background-image: linear-gradient(to bottom, #60a9d4, #2595db);
    text-decoration: none;
}