body {
    background-color: #ffffff;
    margin: 0px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
    overflow-x: hidden;  
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
p, h2, h3, a, td, li, label {
    color: #000000;
}
a:active, a:hover {
    color: blue;
}

/* CORE */
nav {
    height: 40px;
    width: 400px; max-width: 40%; min-width: 250px;
    border-radius: 20px; border: solid; border-width: 1px;
    position: fixed;
    margin: 2vh auto;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
table {
    border-spacing: 5px;
    border-collapse: separate;
}
a {
    text-decoration: none;
}
img {
    border-radius: 50px;
}
hr {
    border-style: none;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}
footer {
    padding-top: 2rem;

}

/* CLASS */

.title {
    padding-top: 10vh;
    font-size: 170%;
}
.intro {
    background-image: url("./assets/mountains.jpg");
    height: 90vh;
    background-size: cover;
    margin: 0;
    padding-top: 30vh;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 5px;
    font-size: 130%;
}

/* ID */

#nav_list {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 0 7px;
    justify-content: center;
    line-height: 40px;
    vertical-align: middle;
}
#nav_list li {
    margin: 0 auto;
}